*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #181818;
    color:white
}
.navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.navbar a{
    color: white;
}
